In [6]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [7]:
#load data 

data = "clean_data.csv"
df = pd.read_csv(data)
df.head(5)

,Unnamed: 0,Location,TimeFrame,Fips,Child_Pop,EduAttainment_p,EduAttainment_n,EmploymentPopRatio,HomeOwnership,OvercrowdedRental,...,HouseholdIncome_n,MedianRent,MedianIncome,MedianRentBurden,SevereRentBurden,PublicAssistance_p,PublicAssistance_n,FoodStamps_p,FoodStamps_n,UnemploymentRate
0,0,Astoria,2001,401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.08047,6325.0,NaN
1,1,Astoria,2002,401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.08296,6521.0,NaN
2,2,Astoria,2005,401,40357.0,NaN,NaN,0.593,0.22281,0.09917,...,9646.5,1188.41269,51741.909495,0.323,0.25238,0.02521,4963.0,0.11182,8629.0,0.07500
3,3,Astoria,2006,401,36782.0,0.199998,26712.0,0.592,0.20317,0.10413,...,9632.5,1193.54760,53030.560855,0.296,0.22155,0.02139,4070.0,0.11476,8843.0,0.10120
4,4,Astoria,2007,401,30735.0,0.200000,25857.4,0.603,0.23204,0.08467,...,8956.5,1165.48917,57631.907885,0.288,0.19932,0.02025,3550.0,0.12545,8989.0,0.06392

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure(1, figsize=(5, 5))
axes = Axes3D(fig, elev=20, azim=45)
axes.scatter(X[:,0], X[:,1], X[:,2], c=y, cmap=plt.cm.get_cmap("Spectral"))
plt.show()

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all of our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

NameError: name 'X' is not defined